* {
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}

body {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    height: 100vh;
    /* user-select: none; */
    /* background: #ECE9E6;
    background: linear-gradient(to right,
            #ECE9E6, #FFFFFF); */
            background: #1f1f1f;
  background:  radial-gradient(
    to right,
    #1f1f1f,#000000
  );
}



/* <-- User Information Container --> */

.information {
    width: 60%;
    max-height: max-content;
    background-color: #c1f1f4;
    color: #FDF0D5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.title {
    margin: .5em auto 1em;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #21888e;
    text-shadow: 2px 2px 9px rgba(0,0,0,0.29);
}

#name,
#roll-no {
    margin: 1.5em 0 .2em;
    padding: 0.25rem;
    font-size: 1.3em;
    color: #1f1f1f;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-shadow: 3px 3px 12px rgba(255,255,255,0.6);
}

#name-field,
#roll-no-field {
    color: #1f1f1f;
    background-color: #FDF0D5;
    padding: 0.8em 1.5rem;
    font-size: 1.1em;
    letter-spacing: 1.3px;
    width: 45%;
    border-radius: 50px;
    border: none;
    outline: none;
    letter-spacing: 1.3px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}


.test-category {
    margin: 2.5em auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #21888e;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: .7rem;
    width: 18em;
    width: 60%;
    font-size: 1em;
}

.test-category .category {
    flex: 1 1 auto;
    text-align: center;
}

.test-category .category input {
    display: none;
}

.test-category .category .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    padding: .3rem .5rem;
    margin: .2rem;
    color: #FDF0D5;
    transition: all .15s ease-in-out;
}

.test-category .category input:checked+.name {
    background-color: #252422;
    color: #DAD7CD;
    font-weight: 600;
}

#start-btn {
    margin: .5em 0 2.5em;
    padding: 15px 35px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #21888e;
    background-color: #DAD7CD;
    z-index: 1;
    position: relative;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

#start-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #21888e;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

#start-btn:hover {
    color: #DAD7CD;
}

#start-btn:hover::before {
    width: 100%;
}



/* <-- Quiz App Container --> */

.question-container {
    display: none;
    width: 65%;
    height: 75vh;
    max-height: max-content;
    user-select: none;
    background-color: #c1f1f4;
    color: #FDF0D5;
    border-radius: 25px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.timer-box {
    display: flex;
    color: #1f1f1f;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 1.1em;
    padding: .3em .6em;
    border: 2px solid;
    border-radius: 40px;
}

.quiz-counter {
    width: 75%;
    margin: 3em auto;
    padding: .3em .4em;
    background-color: #21888e;
    border-radius: 50px;
    overflow: hidden;
}
.quiz-counter .inner{
    width: 50%;
    background-color: #1f1f1f;
    padding: .3em .3em;
    border-radius: 50px;
}

.quiz-test-category {
    display: flex;
    color: #1f1f1f;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    font-size: 1.1em;
    padding: .3em .6em;
    border: 2px solid;
    border-radius: 40px;
}

.quiz-questions {
    width: 75%;
    margin: 2em auto;
}

.question-box{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    overflow-wrap: break-word;
    text-align: center;
    background-color: #21888e;
    color: #fff6ec;
    margin: 1em auto 1.5em;
    font-size: 1.5em;
    padding: .7em 1.3em;
    border-radius: 10px;
    letter-spacing: 1.3px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#question-no{
    font-size: .7em;
    text-align: start;
}

#question {
    font-size: 1.4em;
}

.options {
    width: 100%;
}

.option {
    border: 1px solid #21888e;
    min-width: 40%;
    max-width: max-content;
    overflow-wrap: break-word;
    background-color: #FDF0D5;
    color: #1f1f1f;
    margin: .5em 2em;
    padding: .7em 2em .7em .5em;
    font-size: 1.2em;
    border-radius: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.option .circle {
    margin-right: .5em;
    padding: .3em .6em;
    border-radius: 50px;
    background-color: #FFBA08;
}

.option:hover .circle {
    background-color: #D00000;
}

.btn-container {
    width: max-content;
    margin: 1em auto;
    padding: 0 .7em;
}

.btn-container button {
    border: none;
    outline: none;
    padding: .6em 1em;
    font-size: 1.4em;
    letter-spacing: 1.2px;
    border-radius: 50px;
    background-color: #21888e;
    color: #FDF0D5;
}

.btn-container button:hover{
    background-color: #FDF0D5;
    color: #1f1f1f;
}